* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main{
  width: 100%;
}

header{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background-color: rgb(70, 34, 47);
  z-index: 999;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: sans-serif;
  z-index: 999;
  position: relative;
}
body{
  overflow-x: hidden;
}
main{
  overflow-x: hidden;
}
.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 999;
}
.nav-links li{
  list-style: none;
  z-index: 999;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  z-index: 999;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
section{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  isolation: isolate;
}
section h2{
  font-size: 5rem;
  color: black;
}
.bg{
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  isolation: isolate;
}
.introduction{
  flex: 1;
}
.intro-text h1{
  font-size: 44px;
  font-weight: 400;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta-select{
  border: 2px solid rgb(136, 71, 95);
  background: transparent;
  color: #6f6f89;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: sans-serif;
}
.cta-select1{
  border: 2px solid rgb(136, 71, 95);
  background: transparent;
  color: #6f6f89;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: sans-serif;
  margin: 30px 0px 0px 30px;
}
.intro-text p{
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.cta{
  padding: 50px 0px 0px 0px;
}
.cover{
  flex: 1;
  mix-blend-mode: difference;
}
.cover img{
  height: 60vh;
  z-index: 0;
  mix-blend-mode: difference;
}
.carousel-inner{
  z-index: 0;
}
.slider-box{
  height: 350px;
  width: 250px;
  position: relative;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.time{
  position:absolute;
  top: 0px;
  right:20px;
  color: black;
}
.detail{
  display:flex;
  flex-direction: column;
  align-items: center;
  box-sizing:border-box;
  font-size:13px;
  line-height:35px;
}
.moreinfo{
  position: absolute;
  bottom: 0px;
  height: 45px;
  background-color: rgb(70, 34, 47);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}
.moreinfo:hover{
  transform: scale(1.1);
  background-color: lightcoral;
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
  transition: all ease 0.1s;
}
.price{
  color: black;
}
.slider-box a{
  text-decoration: none;
  text-align: center;
}
.img-box{
  height:270px;
}
.image-box img{
  transform: scale(0.5, 0.5);
  color: black; 
  z-index:1;
}
.image-box1{
  transform: scale(0.5, 0.5);
  position: center;
}
.list-group .list-group-flush{
  margin-top: 20%;
}
.carousel-item.active{
  color:green;
  width: 50%;
  height: 50%;
  margin-right: 100px;
}
.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}
.img-box img{
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.col-lg-7{
  width: 50%;
  height: 50%;
  margin-left: 60px;
  z-index:0;
}
.slider-box:hover{
  box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
}
.slider-box:hover .img-box img{
  transform: scale(1.07);
  transition: all ease 0.3s;
}
.product-top img{
  transform: scale(0.5, 0.5);
}
.home{
  background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  isolation: isolate;
}
.products{
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}
.about{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}
.swiper-slide{
 width: 250px !important; 
}
.bubble{
  position: absolute;
  z-index: -2;
  transform: scale(2);
  transition: all 0.5s ease;
  opacity: 0.5;
  border-radius: 38px 38px 38px 38px;
  border: 2px white;
}
.mini-cart {
  float: right;
}

.mini-cart-button {
  float: right;
  color: #ffc008;
  font-size: 16px;
  padding: 6px 8px;
  position: relative;
  top: 9px;
  background: none;
  border-width: 2px;
  border-color: #ffc008;
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.mini-cart-button span {}

.mini-cart-container {
  min-height: 200px;
  position: absolute;
  width: 50%;
  max-width: 400px;
  display: none;
  background: white;
  box-shadow: 0px 10px 50px -5px rgb(199, 199, 199);
  top: 50px;
  right: 10px;
  z-index: 1;
}

.mini-cart-container ul {
  margin-left: 0!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.mini-cart-container ul li {
  list-style: none;
  position: relative;
  border-bottom: 1px solid grey;
  min-height: 60px;
}

.mini-cart-container ul li h3 {
  font-size: 16px;
}

.mini-cart-container ul li h3 span {
  font-size: 16px;
  color: grey;
  position: relative;
}

.mini-cart-container ul li span {
  position: absolute;
  right: 5px;
  top: 10px;
}

.mini-cart-open {
  display: block;
}
.add-to-cart-button {
  background: green;
}

.mini-cart-totals {
  text-align: center;
}

#total-price {
  float: left;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-left: 20px;
}

#total-items {
  float: right;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-right: 20px;
}

#total-items p,
#total-price p {
  font-weight: 700;
  color: grey;
  margin-bottom: 0;
}

#total-items span,
#total-price span {
  font-size: 16px;
  font-weight: 700;
  color: grey;
}

.succes-message {
  display: none;
  position: absolute;
  height:100px;
  background:white;
  width: 200px;
  z-index: 2;
  left: 40%;
  right: 0;
  top:30%;
  font-size:20px;
  box-shadow: 0px 0px 20px -1px rgb(99, 99, 99);
  text-align:center;
  padding:20px;
}
@media screen and (max-width:1248px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    width: 60%;
  }
  .bg{
    flex-direction: column;
  }
  .introduction{
    margin-top: 5vh;
    text-align: center;
  }
}

@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  main{
    overflow-x: hidden;
  }


  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(52, 24, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}